<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="se.chho.eclipse.testplugin.generatetostring"
            name="Generate Custom toString">
      </command>
      <command
            id="se.chho.eclipse.testplugin.checknonnullparameter"
            name="Check Non-null parameter">
      </command>
      <command 
      	defaultHandler="se.chho.eclipse.testplugin.commands.AddBuilder" 
      	id="se.chho.eclipse.testplugin.addBuilder" 
      	name="Add Custom Builder">  
    </command>  
    <command 
    	defaultHandler="se.chho.eclipse.testplugin.commands.RemoveBuilder" 
    	id="se.chho.eclipse.testplugin.removeBuilder" 
    	name="Remove Custom Builder">  
    </command> 
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=CleanUp">
         <separator
               name="Seperator.separator1"
               visible="true">
         </separator>
         <command
               commandId="se.chho.eclipse.testplugin.generatetostring"
               label="Generate CHHO toString"
               style="push">
         </command>
         <command
               commandId="se.chho.eclipse.testplugin.checknonnullparameter"
               label="Check NON-NULL Parameters"
               style="push">
         </command>
         <separator
               name="Seperator.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution allPopups="false" 
      			locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">  
        <command 
        	commandId="se.chho.eclipse.testplugin.addBuilder"
        	style="push">  
        </command>  
        <command 
        	commandId="se.chho.eclipse.testplugin.removeBuilder"
        	style="push">  
        </command>  
    </menuContribution>  
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="se.chho.eclipse.testplugin.generatetostring.GenerateToStringHandler"
            commandId="se.chho.eclipse.testplugin.generatetostring">
            <enabledWhen>
			  <or>
			    <with variable="activePartId">
			      <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
			    </with>
			    <with variable="activeMenuSelection">
			      <iterate ifEmpty="false" operator="and">
			        <or>
			          <adapt type="org.eclipse.jdt.core.IType" />
			          <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
			        </or>
			      </iterate>
			    </with>
			  </or>
			</enabledWhen>
      </handler>
      <handler
            class="se.chho.eclipse.testplugin.checknonnullparameter.CheckNonNullParameterHandler"
            commandId="se.chho.eclipse.testplugin.checknonnullparameter">
            <enabledWhen>
			  <or>
			    <with variable="activePartId">
			      <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
			    </with>
			    <with variable="activeMenuSelection">
			      <iterate ifEmpty="false" operator="and">
			        <adapt type="org.eclipse.jdt.core.IMethod" />
			      </iterate>
			    </with>
			  </or>
			</enabledWhen>
      </handler>
   </extension>
   <extension
         id="se.chho.eclipse.testplugin.builders.MyBuilder"
         name="Testplugin MyBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="se.chho.eclipse.testplugin.MyBuilder">
         </run>
      </builder>
   </extension>
</plugin>
